<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
	Splurty was built by <a target="_blank" href="https://github.com/tfletcher0516"> Tim Fletcher</a>.
	</p>
	<br />


	<div class="col-xs-12 col-am-4">
		<%= image_tag 'tim.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-cs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Tim Fletcher</h2>
		<br />
		<p>
			Tim Fletcher is a web developer in training. He is currently working with <a targer="_blank" href="http://thefirehoseproject.com">The Firehose Project</a>.

		</p>
		</div>
		<br class='clear' />


</div>

<br class='clear' />
<br />
<br />
<br />
<br />
<br />

