<h2>
<span> Splurty / No. <%= @quote.id %> </span> &nbsp;&nbsp;&nbsp;
Tech folks say the <u> darndest</u> things!
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="pull-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />
